# Node.js
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/

# Logs
*.log

# Environment variables (never upload sensitive data)
.env
.env.local

# Build files
/dist/
/build/

# Dependency directories
/bower_components/

#.next/
.next/


/data/
*.db
*.db-shm
*.db-wal
